<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784631214517-6svs4m7mtulb7aovtsn8tsbu93h2qjmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784631214517-6svs4m7mtulb7aovtsn8tsbu93h2qjmq</string>
	<key>API_KEY</key>
	<string>AIzaSyDzrWRKZbTfHVW6FdLkykV16uxB3OXrGUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>784631214517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dayCondition</string>
	<key>PROJECT_ID</key>
	<string>daycondition-198dd</string>
	<key>STORAGE_BUCKET</key>
	<string>daycondition-198dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784631214517:ios:8c373ead3846c1c68fa9fc</string>
</dict>
</plist>